.App {
  text-align: center;
  
  
}

.logo{
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.app__form{
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: #e9e9eb;
  margin-bottom: 20px !important;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input{
  flex: 1 !important;
}
.app__iconButton{
  flex: 0 !important;
  }